amqp==5.2.0
asgiref==3.7.2
billiard==4.2.0
Brotli==1.1.0
celery==5.3.6
certifi==2024.2.2
cffi==1.16.0
click==8.1.7
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
cssselect2==0.7.0
distlib==0.3.8
Django==5.0.3
django-countries==7.5.1
django-crispy-forms==2.1
django-debug-toolbar==4.3.0
django-weasyprint==2.3.0
filelock==3.13.1
fonttools==4.49.0
html5lib==1.1
kombu==5.3.5
Markdown==3.5.2
pillow==10.2.0
pipenv==2023.12.1
platformdirs==4.2.0
prompt-toolkit==3.0.43
pycparser==2.21
pydyf==0.9.0
pyphen==0.14.0
python-dateutil==2.9.0.post0
python-decouple==3.8
six==1.16.0
sqlparse==0.4.4
tinycss2==1.2.1
typing_extensions==4.10.0
tzdata==2024.1
vine==5.1.0
virtualenv==20.25.1
wcwidth==0.2.13
weasyprint==61.1
webencodings==0.5.1
zopfli==0.2.3
